@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";


.chart {
  padding: 50px 0;

  &__container {
    @include page-container;
    background-color: $mainColorBg;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    padding: 30px 60px;
    @include _750 {
      padding: 20px 30px;
    }
    @include _380 {
      padding: 20px 20px;
    }
  }


}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  @include _750 {
    flex-wrap: wrap;
  }

  &__icon {
    transform: rotate(180deg);
  }

  .header__btn {
    order: 1;
    max-width: 200px;
    width: 100%;
    @include _750 {
      max-width: 120px;
      button{
        padding: 7px 3px;
      }
    }
  }

  &__title {
    order: 2;
    font-size: 30px;
    color: $mainDecorTextColor;
    font-weight: 700;
    width: 100%;
    text-align: center;
    @include _750 {
      order: 3;
      width: 100%;
    }
  }
}

.theme_switch {
  order: 3;
  display: block;
  max-width: 200px;
  width: 100%;
  @include _750 {
    order: 2;
    max-width: 120px;
  }

  .theme_switch__body {
    padding: 10px 0;
    width: 100%;
    background: $fourthColorButton;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    position: relative;
    @include _750 {
      padding: 5px 0;
    }

    .theme_switch__slider {
      position: absolute;
      top: 0;
      left: 0%;
      bottom: 0;
      width: 50%;
      border-radius: 8px;
      margin: 3px;
      padding: 5px 10px;
      background: $secondColorButton;
      z-index: 6;
      transition: 0.3s;

      &.active {
        left: 49%;
        background: $firstColorButton;
      }
    }

    button {
      background: transparent;
      z-index: 7;
      width: 50%;
      border-radius: 8px;
      margin: 3px;
      padding: 5px 10px;
      color: $mainColorText;
    }
  }
}


.chart__main {
  margin-top: 50px;
}
