@import '../../assets/styles/mixins';
@import '../../assets/styles/colors';


.button {
  @include roboto-font;
  width: 100%;
  border-radius: 8px;
  padding: 10px 7px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: $mainColorText;
  transition: .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  gap: 9px;

  &:hover {
    transform: scale(1.01);
    filter: contrast(120%);
    cursor: pointer;
  }

  &_black {
    background: linear-gradient(153.6deg, #353538 0%, $firstColorButton 100%);
  }

  &_coral {
    background: linear-gradient(153.6deg, rgba(250, 115, 163, 0.9) 0%, $secondColorButton 100%);
  }

  &_blue {
    background: linear-gradient(90.74deg, rgba(249, 212, 53, 0.9) 0%, $thirdColorButton 100%);
  }

  &_green {
    background: linear-gradient(90.74deg, rgba(76, 219, 196, 0.9) 0%, $fourthColorButton 100%);
  }
}

.disabled {
  opacity: 0.5;

  &:hover {
    filter: none;
    transform: scale(1);
    cursor: not-allowed;
  }
}


@include _800 {
  .button {
    font-size: 1.1rem;
  }
}

@include _650 {
  .button {
    font-size: 1rem;
  }
}


@include _480 {
  .button {
    font-size: 0.8rem;
  }
}