// Text Colors
$mainColorText: #ffffff;
$secondTextColor: #333538;
$thirdTextColor: #e71616;
$mainDecorTextColor: #fa73a3;
$secondDecorTextColor: #36A2EB;
$firstColorButton: #333538;
$secondColorButton: #fa73a3;
$thirdColorButton: #f9d435;
$fourthColorButton: #4cdbc4;

// Background Colors
$mainColorBg: #ffffff;
$secondColorBg: #B0B1B6;
$errorColorBg: #fa73a3;
$liningColor: #f2f1ef;