// Colors
$mainColorText: #ffffff;
$secondTextColor: #333538;
$mainDecorTextColor: #ff6384;
$secondDecorTextColor: #36A2EB;
$thirdTextColor: #e71616;
$firstColorButton: #333538;
$secondColorButton: #ff6384;
$thirdColorButton: #36A2EB;
$fourthColorButton: #4BC0C0;

// BG Colors
$mainColorBg: #ffffff;
$secondColorBg: #B0B1B6;
$liningColor: #f2f1ef;