@import 'src/assets/styles/colors';
@import "../../assets/styles/mixins";

.error {
  height: 100vh;

  &__container {
    @include page-container;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    padding: 30px 60px;
    position: relative;
    height: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 48px;
    cursor: text;
    height: 100%;
    gap: 30px;
    text-align: center;
    .content {
      &__code {
        color: $secondTextColor;
        @include _750 {
          font-size: 27px;
        }
      }
      &__text {
        font-size: 40px;
        font-weight: 700;
        color: $secondTextColor;
        @include _750 {
          font-size: 27px;
        }
        @include _380 {
          font-size: 22px;
        }
      }
      &__btn {
        max-width: 200px;
        width: 100%;
      }
    }
  }
}
